.team {
    background: url(../img/team/team-bg.png) no-repeat center center fixed;
    background-size: cover;
    padding: 40px 30px;
    margin-top: 50px;
    @media (max-width: 990px) {
        margin-top: 0;
        padding: 20px;
    }
    .title-sm {
        text-align: center;
        font-weight: 500;
        margin-bottom: 30px;
        @media (max-width: 576px) {
            font-size: 1.5rem;
        }
    }
    .team-sub-title {
        text-align: center;
        color: #234f9a;
        margin-bottom: 10px;
    }
    .team-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background: #fff;
        padding: 20px 30px;
        margin: 0 10px;
        @media (max-width: 990px) {
            padding: 15px;
        }
        img {
            margin-bottom: 20px;
            max-width: 100%;
            height: 85px;
            width: 85px;
            border-radius: 50px;
        }
        .name {
            margin-bottom: 5px;
            font: 500 1.2rem 'Rubik', sans-serif;
        }
        .prof {
            color: #848484;
            font: 400 .87rem 'Rubik', sans-serif;
        }
    }
    .slick-dots li button:before {
        content: '';
        height: 15px;
        width: 15px;
        display: block;
        border: 1px solid #dedddc;
        opacity: 1;
        border-radius: 50%;
    }
    .slick-dots {
        bottom: -45px;
        @media (max-width: 990px) {
            bottom: -35px;
        }
    }
    .slick-dots li.slick-active button:before {
        background: #234f9a;
        border: 1px solid #234f9a;
    }
}