.fullscreen-bg {
    overflow: hidden;
    z-index: -100;
    position: relative;
    height: 100%;
    width: 100%;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    @media (max-width: 1200px) {
        width: 150%;
    }
    @media (max-width: 990px) {
        width: 200%;
    }
    @media (max-width: 360px) {
        width: 230%;
    }
}

.video {
    position: relative;
    height: 750px;
    @media (max-width: 990px) {
        height: 400px;
    }
}

.video-bg {
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.video-info {
    position: relative;
    top: -420px;
    @media (max-width: 990px) {
        top: -280px;
    }
    .title-sm {
        color: #fff;
        font-size: 4rem;
        @media (max-width: 990px) {
            font-size: 2rem;
        }
        span {
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #fff;
        }
    }
    .text-simple {
        color: #fff;
    }
}

.video {
    position: relative;
}